
name: CI
env:
  TARGET_RUBY_VERSION: "4.0"
  RUBYOPT: -W0
on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/windows.yml'
  schedule:
    - cron: '17 0 1 * *'
  milestone:
    types: [created]
# workflow → job → step → action
# jobは並列、step は逐次実行
jobs:
  job1:
    name: build CHM
    runs-on: windows-latest
    steps:
      - name: Get current time
        uses: josStorer/get-current-time@v2.1.2
        id: current-time
        with:
          format: YYYYMMDD
          utcOffset: "+09:00"
      - name: Checkout this repository
        uses: actions/checkout@v4
      - name: Set up Ruby version
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - name: Clone fronoske/bitclust
        run:  git clone https://github.com/fronoske/bitclust.git
      - name: Clone rurema/doctree
        working-directory: bitclust
        run: git clone https://github.com/rurema/doctree.git rubydoc
      - name: Set up bundler
        working-directory: bitclust
        run: bundle install
      - name: Run bitclust
        working-directory: bitclust
        run: |
          bundle exec bitclust -d ./db init encoding=utf-8 version=${{ env.TARGET_RUBY_VERSION }}
          bundle exec bitclust -d ./db update --stdlibtree=./rubydoc/refm/api/src
      - name: Generate source files for CHM
        working-directory: bitclust
        run: bundle exec bitclust -d ./db chm -o ./chm
      - name: Run HTML Help Workshop
        working-directory: hhw
        shell: cmd
        run: |
          hhc.exe ..\bitclust\chm\refm.hhp
          copy /y ..\bitclust\chm\refm.chm ..\dist\ruby-refm.chm
      - name: Commit ruby-refm.chm
        working-directory: dist
        shell: cmd
        env:
          TAG_NAME: v${{ env.TARGET_RUBY_VERSION }}-${{ steps.current-time.outputs.formattedTime }}
        run: |
          7z.exe a ruby-refm-%TAG_NAME%.zip ruby-refm.chm
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add ruby-refm.chm
          git commit ruby-refm.chm -m "update ruby-refm.chm"
          git tag %TAG_NAME%
      - name: Push to github
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
      - name: Release
        id: release
        uses: softprops/action-gh-release@v2
        with:
          name: Ruby Reference Manual v${{ env.TARGET_RUBY_VERSION }}-${{ steps.current-time.outputs.formattedTime }}
          draft: false
          prerelease: false
          tag_name: v${{ env.TARGET_RUBY_VERSION }}-${{ steps.current-time.outputs.formattedTime }}
          token: ${{ secrets.GITHUB_TOKEN }}
          files: dist/ruby-refm-v${{ env.TARGET_RUBY_VERSION }}-${{ steps.current-time.outputs.formattedTime }}.zip
          body: |
            target Ruby version: v${{ env.TARGET_RUBY_VERSION }}
            build date: ${{ steps.current-time.outputs.formattedTime }}
